@import '../variables';

.cardRow {
  @extend .baseFont;
  display: flex;
  flex-direction: row;
  line-height: 0.875rem;
  padding: 0.25rem;
}

.pageContainer {
  @extend .base-container;
  flex-direction: column;
}

.anchor {
  text-decoration: none;
  color: unset;
}

.repoRow {
  @extend .cardRow;
  justify-content: space-between;
}

.authorRow {
  @extend .cardRow;
}

.rowText {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  text-decoration: none;
}
