@import '../variables';

.pageContainer {
  @extend .base-container;
  flex-direction: column;
  background-color: $light-grey;
  border: 1px solid $dark-grey;
  border-radius: 0.25rem;
  list-style: none;
  padding: 0.25rem 0.25rem;
}

.listItem {
  background-color: $off-white;
  border: 1px solid $brand-primary-color;
  border-radius: 8px;
  margin: 0.25rem 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
