@import '../variables';

.searchInput {
  @extend .baseFont;
  background: none;
  line-height: 2rem;
  outline: 0;
  width: 100%;
}

.inputFieldset {
  @extend .base-container;

  background-color: transparent;
  border: none;
  position: relative;
  width: 100%;
}

.placeHolder {
  @extend .searchInput;

  position: absolute;
  top: 1px; // offset to eliminate cursor "jump" from placeholder and input
  left: 0.5rem; // offset to eliminate cursor "jump" from placeholder and input
  z-index: 1;
}

.input {
  @extend .searchInput;

  border: 1px solid $off-black;
  border-radius: $corner-radius;
  padding: 0 0.5rem;

  &:focus {
    border-color: $brand-primary-color;
    color: $brand-primary-color;
    box-shadow: none !important;
  }

  &:invalid {
    box-shadow: none !important;
  }
}
