@import '../variables';

.pageContainer {
  @extend .base-container;
  flex-direction: column;
  padding: 2rem;
}

.detailsContainer {
  @extend .base-container;
  background-color: $off-white;
  border: 1px solid $brand-primary-color;
  border-radius: 8px;
  flex-direction: column;
  line-height: 2rem;
  padding: 2rem;
}

.detailsRow {
  @extend .base-container;
  color:$brand-primary-color;
  flex-direction: row;
}

.fieldTitle {
  @extend .boldFont;
  line-height: 2rem;
  margin-right: 0.75rem;
}

.fieldValue {
  @extend .baseFont;
  line-height: 2rem;
}
