@import '../variables';

.pageContainer {
  @extend .base-container;
  flex-direction: column;
}

.searchContainer {
  @extend .base-container;
  display: flex;
  flex-direction: row;
}

.resultsContainer {
  @extend .base-container;
  display: flex;
  flex-direction: column;
}
