
$brand-primary-color:   #03045e;
$brand-secondary-color: #023e8a;
$true-black:            #000;
$off-black:             #333;
$dark-grey:             #666;
$light-grey:            #cccccc;
$off-white:             #f5f5f5;
$true-white:            #fff;

$success-color:         #6cc644;
$error-color:           #bd2c00;
$warning-color:         #c9510c;
$info-color:            #63c0df;
